// About Section
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutText {
    width: 50%;
}

.about img {
    max-height: 500px;
    margin-left: 20px;
}

// Skills section

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

// Media queries

@media (max-width: 769px) {
    .about {
        flex-direction: column;
        justify-content: center;
    }

    .aboutText {
        width: 100%;
        margin-bottom: 50px;
    }

    .about img {
        margin-left: 0;
    }
    
}